<a href="https://colab.research.google.com/github/EricLi3/AI-Algorithms/blob/master/MidtermDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Descriptive Statistics and Some Data Cleaning (Class 2)
  #### Upload the SalesData.csv to files before you run the codes in this notebook


---


  

---

In [3]:
import pandas as pd
import os

file_path = "Worldwide Video Game Market Dataset (for midterm presentation).xlsx"
df = pd.read_excel(file_path, sheet_name='Worldwide Video Game Market', header=1, index_col=False)

## 2. Read In and Describe the Data

In [4]:
df.describe(include = 'all')
#Notice in the output that there are data issues with the quantitative (or ratio) varibles (specifically, Quantity, Price, Revenue, Unit Cost).
#The descriptive stats such as std, mean, max, 25, 50 and 75 percentiles, etc. on Price, Revenue and Unit Cost read 'NaN' (Not a Number), indicating issues with the data type
  #since they should read as quantitative variables.
#These observations will be the subject of our data cleaning to prepare the data for analysis

,Rank,Name,Platform,Year,Genre,Publisher,North America_Sales \n($ in millions),Europe_Sales \n($ in millions),Japan_Sales\n($ in millions),Other_Sales \n($ in millions),Global_Sales \n($ in millions)
count,16598.000000,16598,16598,16327.000000,16598,16540,16593.000000,16587.000000,16560.000000,16590.000000,16598.000000
unique,NaN,11493,31,NaN,12,578,NaN,NaN,NaN,NaN,NaN
top,NaN,Need for Speed: Most Wanted,DS,NaN,Action,Electronic Arts,NaN,NaN,NaN,NaN,NaN
freq,NaN,12,2163,NaN,3316,1351,NaN,NaN,NaN,NaN,NaN
mean,8300.605254,NaN,NaN,2006.406443,NaN,NaN,0.264747,0.146749,0.077960,0.048086,0.537441
std,4791.853933,NaN,NaN,5.828981,NaN,NaN,0.816793,0.505505,0.309623,0.188631,1.555028
min,1.000000,NaN,NaN,1980.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,NaN,NaN,2003.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,NaN,NaN,2007.000000,NaN,NaN,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,NaN,NaN,2010.000000,NaN,NaN,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,NaN,NaN,2020.000000,NaN,NaN,41.490000,29.020000,10.220000,10.570000,82.740000

## 3. Identify the data types in your data

In [5]:
df.info()
#Displays the data types. An 'Object' dtype is the same as string type. You want to ensure that quantative variables are either integers or float.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Rank                                  16598 non-null  int64
 1   Name                                  16598 non-null  object
 2   Platform                              16598 non-null  object
 3   Year                                  16327 non-null  float64
 4   Genre                                 16598 non-null  object
 5   Publisher                             16540 non-null  object
 6   North America_Sales
($ in millions)  16593 non-null  float64
 7   Europe_Sales
($ in millions)         16587 non-null  float64
 8   Japan_Sales
($ in millions)           16560 non-null  float64
 9   Other_Sales
($ in millions)          16590 non-null  float64
 10  Global_Sales
($ in millions)         16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

## 3. Identify and Rename Column Names

### Identifying column names

In [ ]:
df.columns

### Renaming column

In [ ]:
df = df.rename(columns={' Revenue ': 'Revenue', ' Price ': 'Price',' Unit Cost': 'UnitCost'})

# 4. Cleaning Data and Changing Data Type

## Cleaning a single column (do not run)

In [ ]:
#df['Revenue'] = df['Revenue'].str.replace(',', '').astype(float)
#df['Price'] = df['Price'].str.replace(',', '').astype(float)

## Cleaning multiple columns (advanced) and changing data type

In [ ]:
columns_to_clean = ['Revenue', 'Price']
df[columns_to_clean] = df[columns_to_clean].apply(lambda x: x.str.replace(',', '').astype(float))

In [ ]:
df.describe(include = 'all')

In [ ]:
df.info()

# 5. Perform Descriptive Statistics

In [ ]:
df['Revenue'].mean()

In [ ]:
df[['Revenue','Price']].median()

In [ ]:
df.groupby(['Product line','Product type']). count()

In [ ]:
df.groupby('Product line').Revenue.mean()

# 5. Correlation Between Variables

In [ ]:
correlation = df['Revenue'].corr(df['Price'])
print('The correlation between Revenue and Price is', correlation)

In [ ]:
#df.corr().round(2)  #df contains nonnumeric variables

# Select only numeric columns for correlation
df_num = df.select_dtypes(include=['number'])

# Compute the correlation matrix and round to 2 decimal places
correlation_matrix = df_num.corr().round(2)
#correlation_matrix

In [ ]:

df_num.corr().style.background_gradient(cmap='coolwarm')

In [ ]:
df_num.corr(method = "spearman").round(2).style.background_gradient(cmap='Greens')

In [ ]:
correlation_matrix = df_num.corr(method="spearman").round(2)

In [ ]:
correlation_matrix1 = correlation_matrix.style.format("{:.2f}").background_gradient(cmap="Greens", axis=None).set_properties(**{'text-align': 'center'})
correlation_matrix1


### Thank you for participating in this tutorial. Happy learning! âœ¨ ðŸ’ª ðŸ˜€


---



---



```
```

# **Midterm Data (Video Game) Analysis - Tutorials (Class 5)**
####Upload the midterm data to files before you run the codes in this notebook


---

---

###Import Pandas and Read in Excel Data

In [ ]:
import pandas as pd
import os

file_path = "Worldwide Video Game Market Dataset (for midterm presentation).xlsx"
df = pd.read_excel(file_path, sheet_name='Worldwide Video Game Market', header=1, index_col=False)

In [ ]:
#df.describe(include = 'all')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Rank                                  16598 non-null  int64
 1   Name                                  16598 non-null  object
 2   Platform                              16598 non-null  object
 3   Year                                  16327 non-null  float64
 4   Genre                                 16598 non-null  object
 5   Publisher                             16540 non-null  object
 6   North America_Sales
($ in millions)  16593 non-null  float64
 7   Europe_Sales
($ in millions)         16587 non-null  float64
 8   Japan_Sales
($ in millions)           16560 non-null  float64
 9   Other_Sales
($ in millions)          16590 non-null  float64
 10  Global_Sales
($ in millions)         16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [ ]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher',
       'North America_Sales \n($ in millions)',
       'Europe_Sales \n($ in millions)', 'Japan_Sales\n($ in millions)',
       'Other_Sales \n($ in millions)', 'Global_Sales \n($ in millions)'],
      dtype='object')

In [ ]:
df = df.rename(columns={'North America_Sales \n($ in millions)':'NorthAmerica_Sales', 'Europe_Sales \n($ in millions)': 'Europe_Sales', 'Japan_Sales\n($ in millions)': 'Japan_Sales', 'Global_Sales \n($ in millions)':'Global_Sales', 'Other_Sales \n($ in millions)':'Other_Sales'})

In [ ]:
# Removes rows that contain any missing values.
# df = df.dropna()


# Replaces missing values with the mean of each column.
# df = df.fillna(df.mean())


# Replaces missing values with the median of each column.
# df = df.fillna(df.median())


# Replaces missing values with 0.
# df = df.fillna(0)


# Removes columns that contain only missing values.
# df = df.dropna(axis=1, how='all')


# Remove the column named 'VarZ' from the DataFrame
#df = df.drop(columns=['VarZ'])


# Fills missing values by carrying forward the previous valid value.
# df = df.fillna(method='ffill')


# Fills missing values by carrying backward the next valid value.
# df = df.fillna(method='bfill')


# Replaces all 0 values with `NaN` (missing values).
# df = df.replace(0, pd.NA)

In [ ]:
def summarystats(df, variables):
    """
    Generates a correlation matrix and descriptive statistics for selected variables.

    Parameters:
    - data: DataFrame containing the dataset
    - variables: List of column names for which to calculate correlation and statistics

    Returns:
    - correlation matrix and descriptive statistics
    """
    # Filter the DataFrame to include only the selected variables
    selected_df = df[variables]

    # Generate correlation matrix
    correlation_matrix = selected_df.corr()

    # Generate descriptive statistics
    descriptive_stats = selected_df.describe()

    return correlation_matrix, descriptive_stats

In [ ]:
correlation_matrix

In [ ]:
descriptive_stats.transpose()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

def exploratory_plots(df, var1, var2=None):
    """
    Plots a distribution plot and box plot for var1, and a scatter plot between var1 and var2 (if var2 is provided).

    Parameters:
    - df: The DataFrame containing the data.
    - var1: The first variable (column name) to plot the distribution and box plot.
    - var2: The second variable (optional) for the scatter plot against var1.
    """

    # Create a distribution plot for var1
    plt.figure(figsize=(10, 5))
    sns.histplot(df[var1], kde=True, color='blue', bins=30)
    plt.title(f'Distribution of {var1}')
    plt.xlabel(var1)
    plt.ylabel('Frequency')
    plt.show()

    # Create a box plot for var1 to detect outliers
    plt.figure(figsize=(10, 5))
    sns.boxplot(x=df[var1], color='orange')
    plt.title(f'Box Plot of {var1}')
    plt.xlabel(var1)
    plt.show()

    # Create a scatter plot between var1 and var2
    if var2:
        plt.figure(figsize=(10, 5))
        plt.scatter(df[var1], df[var2], color='green')
        plt.title(f'Scatter Plot between {var1} and {var2}')
        plt.xlabel(var1)
        plt.ylabel(var2)
        plt.show()

In [ ]:
# Example usage
exploratory_plots(df, 'NorthAmerica_Sales', 'Europe_Sales')

## More on correlation matrix, heatmap plots

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

#df.corr().round(2)  #df contains nonnumeric variables

# Select only numeric columns for correlation
df_num = df.select_dtypes(include=['number'])

# Compute the correlation matrix and round to 2 decimal places
correlation_matrix = df_num.corr().round(2)
#correlation_matrix

In [ ]:
df_num.corr().style.background_gradient(cmap='coolwarm')

In [ ]:
df_num.corr(method = "spearman").round(2).style.background_gradient(cmap='Greens')

In [ ]:
correlation_matrix = df_num.corr(method="spearman").round(2)

In [ ]:
#Using seaborn to plot heatmap of the correlation matrix

sns.heatmap(correlation_matrix, cmap = "Blues")

In [ ]:
sns.heatmap(correlation_matrix, cmap = "Blues", vmin=0, vmax=1, annot = True)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Create a mask to hide the upper triangle of the heatmap
mask = np.triu(np.ones_like(correlation_matrix, dtype=bool))
sns.heatmap(correlation_matrix, cmap = "Blues", vmin=0, vmax=1, annot = True, fmt="0.2f", square = True, mask= np.triu(correlation_matrix))
plt.figure(figsize=(10,8))

In [ ]:
variables = ['NorthAmerica_Sales', 'Europe_Sales', 'Japan_Sales', 'Global_Sales', 'Other_Sales']
correlation_matrix, descriptive_stats = summarystats(df, variables)

In [ ]:
#Correlation between two variables a  and  b
correlation = df['NorthAmerica_Sales'].corr(df['Europe_Sales'])
print('The correlation between North America and Europe Sales is', correlation)

The correlation between North America and Europe Sales is 0.768624634592887

In [ ]:
correlation_matrix = df_num.corr(method="spearman").round(2)

In [ ]:
correlation_matrix1 = correlation_matrix.style.format("{:.2f}").background_gradient(cmap="Greens", axis=None).set_properties(**{'text-align': 'center'})
correlation_matrix1

### The following groupby operations can be performed for Platform, Genre and Publisher acroos NorthAmerica, Europe, Japan, Global or Other Sales

In [ ]:
#Group the data by platform and sum the sales in Europe
Top5_Platforms_Europe_Sales = df.groupby('Platform')['Europe_Sales'].sum().nlargest(5)

In [ ]:
Top5_Platforms_Europe_Sales

In [ ]:
# Group the data by platform and sum the sales in Europe
Least5_Platforms_By_Europe_Sales = df.groupby('Platform')['Europe_Sales'].sum().nsmallest(5)

In [ ]:
Least5_Platforms_By_Europe_Sales

In [ ]:
#Group the data by publisher and sum the sales in Europe
Top5_Genres_Europe_Sales = df.groupby('Name')['NorthAmerica_Sales'].sum().nlargest(10)

In [ ]:
Top5_Genres_Europe_Sales

In [ ]:
#Group the data by publisher and sum the sales in Europe
Least5_Publishers_Europe_Sales = df.groupby('Publisher')['Europe_Sales'].sum().nsmallest(5)

In [ ]:
Least5_Publishers_Europe_Sales

### Create Dummy Variables from the top 5 'Platform' by Europe_Sales

In [ ]:
# Start by Standardizing the 'Platform' column by stripping whitespace and converting to lowercase
df['Platform'] = df['Platform'].str.strip().str.lower()

# Optional: Create a mapping of platform names to standardize variations. This will help enusure data consistency as the following examples show
platform_mapping = {
    'ps4': 'playstation 4',
    'ps3': 'playstation 3',
    'xboxone': 'xbox one',
    'xbox360': 'xbox 360',
    'wiiu': 'wii u',
    # Add other mappings as necessary
}

# Apply the mapping to the 'Platform' column
df['Platform'] = df['Platform'].replace(platform_mapping)

# Re-standardize after mapping (in case mapped values need it)
df['Platform'] = df['Platform'].str.strip().str.lower()

# Get the top 5 platforms by Europe_Sales
Top5_Platforms_Europe_Sales = df.groupby('Platform')['Europe_Sales'].sum().nlargest(5).index.tolist()

# Create dummy variables for all platforms
dummy_df = pd.get_dummies(df['Platform'], prefix='Platform', dummy_na=False)

# Select only the dummy variables for the top 5 platforms
dummy_df = dummy_df[['Platform_' + platform for platform in Top5_Platforms_Europe_Sales]]

# Concatenate the dummy variables with the original DataFrame
df = pd.concat([df, dummy_df], axis=1)

# Display the updated DataFrame with dummy variables
print(df.head())

### Thank you for participating in this tutorial. Happy learning! âœ¨ ðŸ’ª ðŸ˜€

#### Get working directory

In [ ]:
print(os.getcwd())

#### For changing working directory

In [ ]:
#os.chdir(r'C:\Users\dtreku\Dropbox\Dropbox -DANIEL\WPI\ACADEM\TEACHING\2023-2024 Academic Year\Inclass Activities')

In [ ]:
#print(os.getcwd())

C:\Users\dtreku\Dropbox\Dropbox -DANIEL\WPI\ACADEM\TEACHING\2023-2024 Academic Year\Inclass Activities

In [ ]:
# Remember to use your own path to the data here!
#path = r'C:\Users\dtreku\Dropbox\Dropbox -DANIEL\WPI\ACADEM\TEACHING\2023-2024 Academic Year\Inclass Activities\SalesData.csv'
df = pd.read_csv("path")